<h1>자유 게시판</h1>
<ul id="posts">
  {{#if isCheck}}
    {{#each posts}}
      <li>
        <h4><a href="/posts/{{this._id}}">{{this.title}}</a></h4>
      </li>
    {{/each}}
  {{else}} <p>아무 게시글이 없습니다</p>
  {{/if}}
  <li style="background-color: skyblue;"><a href="/posts/write">포스트쓰기</a></li>
</ul>