<script>
  async function deletePost(postId) {
    if (confirm('정말 삭제하시겠습니까?')) {
      try {
        const response = await fetch(`/posts/${postId}`, {
          method: 'delete'
        });
        const responseData = await response.json();
        if (response.ok) {
          alert(responseData.msg)
          window.location.href = '/';
        }
        else {
          alert(responseData.msg)
        }
      } catch (err) {
        console.error("Error : ", err);
        alert(responseData.msg);
      }
    }
  }
</script>

<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
<a href="/">돌아가기</a>
<a href="/posts/patch/{{post._id}}">수정하기</a>
<button onclick="deletePost('{{post._id}}')">삭제하기</button>